{% load static %}
<header style="background-color: black; color: white; padding: 5px 10px;">
    <div style="display: inline-block; vertical-align: middle;">
        <a href="{% url 'shop:all_products' %}">
            <img src="{% static 'images/logo6.png' %}" alt="Perfume Perfection Up Store" style="max-width: 100%; height: auto;">
        </a>
    </div>
    <div style="display: inline-block; vertical-align: middle; padding-left: 15px;">
        <h1 style="font-size: 20px; margin: 0;">Perfume Perfection Store</h1> 
        <p style="font-size: 14px; margin: 0;">The Perfect Fragrance, Delivered</p> 
    </div>
</header>